
    <div class="form">
        <fieldset>
<h3 class="fieldset-header">About</h3>
<table class="table">
  <tbody>
    <tr>
      <td style="width: 15%;">Software:</td>
      <td>OpenADR VTN <%= Oadr::VERSION %></td>
    </tr>

    <tr>
      <td>Developed for:</td>
      <td>
        Electric Power Research Institute (EPRI) <br/>
        3420 Hillview Ave. <br/>
        Palo Alto, CA 94304
      </td>
    </tr>

    <tr>
      <td>Support*</td>
      <td>
        This software is provided by EPRI "AS IS" and without customer support beyond such embodiments within the distribution of this software that may or may not provide such support.
      </td>
    </tr>

    <tr>
      <td>Copyright:</td>
      <td>
        Copyright &copy; 2017 Electric Power Research Institute, Inc. All Rights Reserved.
        <br/> <br/>
        Permission to use, copy, modify, and distribute this software for any purpose with or
        without fee is hereby granted, provided that the above copyright notice and this permission notice
        appear in all copies.
      </td>
    </tr>

    <tr>
      <td>Developed by:</td>
      <td>
        nebland software, LLC <br/>
        859 Richborough Rd <br/>
        Green Bay, WI 54313 <br/>
      </td>
    </tr>

    <tr>
      <td>Ordering Information:</td>
      <td>
        The embodiments of this Program and supporting materials may be ordered from <br/><br/>

        Electric Power Software Center (EPSC) <br/>
        9625 Research Drive <br/>
        Charlotte, NC 28262 <br/>
        Phone   1-800-313-3774 <br/>
        Email askepri@epri.com <br/>
      </td>
    </tr

    <tr>
      <td>Disclaimer</td>
      <td>
        <h5>
        THIS SOFTWARE IS PROVIDED BY EPRI AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL EPRI BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
        </h5>
      </td>
    </tr>
  </tbody>
</table>
        </fieldset>
    </div>

