<div class="string-label-value ven-name">
  <strong>Name:</strong> <%= ven_interface.ven.name %>
</div><div class="string-label-value ven-id">
  <strong>VEN ID:</strong> <%= ven_interface.ven.ven_id %>
</div>