<div class="tab-pane" id="publish">
  <%= render 'event_interfaces/standard/publish_event', event: @event_interface.event %>
  <%= render 'event_interfaces/standard/cancel_event', event: @event_interface.event %>
</div>