// Set width of navigation element to a variable
// to enable single point of update for offsets
// of affected elements (subnav, content-container, etc.)
$navigation-width: 200px;
$body-padding-top: 126px;
@mixin standard-box-shadow {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .3);
}
$active-highlight: #d26911;
//

body {
  font-size: 14px;
  position: relative;
  padding: $body-padding-top 20px 0 ($navigation-width);

  .container-fluid {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.header {
  position: fixed;
  z-index: 49;

  top: 0px;
  left: 0px;
  width: 100%;
  height: 72px;
  padding: 0px;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #eee;
  border-radius: 0;

  .logo {
    float: left;
    margin: 3px 6px;
  }

  .utility-id {
    float: left;
    margin: 24px 60px 0px 60px;
  }

  ul.header-actions {
    float: left;
    padding-left: 0px;
    list-style: none;

    li {
      float: left;
      height: 72px;
      margin: 0px;
      padding: 12px;
      text-align: center;
      border-left: 1px solid #eee;
      &:last-child {
        border-right: 1px solid #eee;
      }
      img, .btn {
        display: block;
        margin-bottom: 3px;
      }
    }
  }
}

.subnav_container {
  position: fixed;
  z-index: 48;
  top: 72px;
  left: $navigation-width;
  width: 100%;
  margin: 0px 0px 0px 2px;
  padding: 10px 0px 4px 0px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;

  .subnav {
    display: inline-block;
    margin: 0px 20px 0px 0px;
    padding: 0px 4px 0px 0px;
    list-style: none;
    color: #fff;
    // Background-color and border match `fieldset` (in 'forms' styles)
    background-color: #f6f6f6;
    border: 1px solid #ddd;

    .item {
      display: inline-block;
      position: relative;
      margin-left: 0px;
      margin-right: -4px;
      padding: 0px;
      border-right: 2px solid #ddd;

      &:last-child {
        border-right: none;
      }

      a {
        display: block;
        position: relative;
        margin: 0px;
        padding: 6px 24px;
        text-decoration: none;
      }

      &.current {
        background-color: #fff;

        a {
          color: #000;
          font-weight: bold;
        }

        &:after {
          // This pseudo element forms the triangle under the "current" subnav item
          content:"\A";
          position: absolute;
          bottom: 0px;
          left: 50%;
          width: 94%;
          // This negative left margin should be
          // half the width of the pseudo element
          margin-left: -47%;
          border-style: solid;
          border-bottom: 1px solid $active-highlight;
        }
      }
    }
  }
}

.debug_dump {
  margin-top: 20px;
}

.footer {
  padding: 0 0 20px;

  @include respond-to(mobile) {
    text-align: center;

    .pull-right {
      float: none !important;
      font-weight: bold;
    }
  }
}

.blank_slate_container {
  box-sizing: border-box;
  width: 360px;
  margin: 0;
  padding: 2% 3%;
  background: #eee;
  border: 1px solid #ddd;
  text-align: center;
}
